body{
	width:100%;
	height:100%;
	margin:0px auto;
	background-color:#F1F1F1;
	font-family: "Open Sans",sans-serif;
}
/*
链接
*/
a:LINK{
	color:#999999;
	text-decoration: none;
	}
a:hover{
	text-decoration:underline;
	}

/*
登陆框架
*/

.loginFrame{
	
	}

/*
找回密码框架
*/

.findPassWord{
	display:none;
	}

/*
中间的登陆框
*/
.middleLogin{
	width:320px;
	height:594px;
	margin:0px auto;
}

/*
标题
*/
h2{
	width:320px;
	height:80px;
	float:left;
	background-color:#F1F1F1;
	text-align: center;
	line-height:80px;
	margin-top:80px;
	font-style:oblique; 
	box-shadow:0 0 5px gray;
	border-radius:8px 8px 8px 8px;
	display:block;
}

/*
登陆框
*/
.loginForm,.findPassForm{
	width:320px;
	height:302px;
	float:left;
	background-color:white;
	box-shadow:0 0 5px gray;
	display:block;
	color: #333;
	}

	
/*
用户名和密码输入框
*/

.loginForm span{
	font-size: 16px;
	}

.userName,.passWord,.Email{
	width:270px;
	height:40px;
	font-size: 14px;
	margin:50px 25px 40px 25px;
	display:block;
	}
.passWord{
	margin-top:0px;
	margin-bottom:20px;
	}

/*
记住登陆状态选项
*/
.remember{
	color:#757575;
	margin-left:25px;
	display:block;
	}
	
/*
登录按钮
*/

.loginButton{
	width:120px;
	height:45px;
	font-size:16px;
	font-weight: bold;
	color:white;
	background-color:green;
	border:none;
	box-shadow:0 0 5px gray;
	border-radius: 6px 6px 6px 6px;
	margin-left:175px;
	margin-top:30px;
	}

/*
忘记密码&回到首页
*/
.forgetPassWord,.backHome{
	color:#999999;
	font-size:12px;
	margin-left:25px;
	margin-top:20px;
	}

	
/*
message找回密码的上部文字描述
*/

.message{
	border-left: 4px solid #7ad03a;
	margin:0px;
	padding: 12px;
	font-size: 13px;
	line-height: 1.5;
	display:block;
	background-color:white;
	height:45px;
	box-shadow:0 0 5px gray;
}


/*emaildiv*/

.EmailDiv{
	margin-top:0px;
	height:180px;
	width:100%;
	background-color:white;
}

